* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 5000px;
  background-color: #eee;
}
.img-container {
  position: relative;
  margin: 10px auto;
  width: 500px;
  height: 400px;
}
.img-container img {
  position: absolute;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.img-container img.active {
  opacity: 1;
}
.img-container .slide-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.slider-controls {
  width: 500px;
  margin: auto;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
  width: 20%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.slider-controls .prev {
  float: left;
}
.slider-controls .next {
  float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: rgb(0 150 136 / 0.5);
  cursor: no-drop;
}
.slider-controls .indicators {
  width: 60%;
  float: left;
}
.slider-controls .indicators ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.slider-controls .indicators ul li {
  display: inline-block;
  background-color: #f6f6f6;
  color: #333;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0 2px;
  line-height: 28px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.slider-controls .indicators ul li.active {
  background-color: #009688;
  color: #fff;
}
/* .scroll {
  background-color: blue;
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 4px;
  z-index: 10000000;
}
button {
  position: fixed;
  right: 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
  display: none;
  cursor: pointer;
  bottom: 200px;
} */
